  <div class="container mt-5">
    <div class="row">

        <div class="col-md-8">
          <div class="jumbotron">
            <h1 class="display-4">Postagens</h1>
            <p class="lead">Este é um simples componente jumbotron para chamar mais atenção a um determinado conteúdo ou informação.</p>
            <hr class="my-4">
            <p>Ele usa classes utilitárias para tipografia e espaçamento de conteúdo, dentro do maior container.</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Leia mais</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="jumbotron">

              <h4 class="text-center">{{grupo.nomeGrupo}}</h4>
              <hr>
              <p>{{grupo.tema}}</p>

              <p>{{qtdMembros}} membros</p>
            <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
              <div class="btn-group">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Participantes
                </button>
                <div class="dropdown-menu dropdown-menu-right w-100">
                  <h5 class="text-center">Lista de Participantes<i class="fa fa-users fa-2x" aria-hidden="true"></i></h5>
                  <hr>
                  <div class="row" *ngFor='let i of grupo.listaParticipantes'>

                    <div class="col-md-12">
                      <p class="dropdown-item" type="button">{{i.nomeCompleto}}</p>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <div class="col-md-12 mt-3">
              <div class="col-md-12 mt-3 d-flex justify-content-end">

                <button class="btn btn-outline-warning mr-3" *ngIf="verificarUser()" [routerLink]="['/grupo-edit', grupo.idGrupo]">Editar</button>
                <button class="btn btn-outline-danger"(click)='sairGrupo(grupo)'>Sair <i
                  class="fas fa-sign-out-alt"></i></button>
              </div>
            </div>
            </div>
          </div>
        </div>

    </div>





