  <div class="container mt-5 ">
    <div class="row">
      <div class="col-md-1">
        <p>  <i class="fa fa-arrow-left" aria-hidden="true" routerLink='/feed'></i>Voltar</p>
      </div>
      <div class="col-md-11 mb-3">
        <h2 class="text-center">{{grupo.nomeGrupo}}</h2>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-md-8 mb-4">
            <div class="card w-75">
              <div class="card-body">
                <div class="form-group">

                  <input [(ngModel)]='postagens.tituloPostagem' placeholder="Título da Postagem" class="w-75">
                </div>
                <div class="form-group">
                  <input [(ngModel)]='postagens.descricaoPostagem' placeholder="Escreva suas ideias, dúvidas e experiências." class="w-75">
                </div>
                <div class="form-group">
                  <input [(ngModel)]='postagens.urlAnexo' placeholder="Coloque seus anexos" class="w-75">
                </div>
                <button class="btn btn-info" (click)='cadastrarPostagem()'>Publicar</button>
              </div>
            </div>
          <div class="row mb-5" *ngFor='let i of grupo.post'>
            <div class="col-md-12">
              <div class="card bg-light mb-2 w-75">
                <div class="card-header bg-pink">
                  <div class="row">
                    <div class="col-md-2">
                      <img src="{{i.usuario.foto}}" alt="foto perfil" width="70px" height="70px"
                      class="rounded-circle">
                    </div>
                    <div class="col-md-10">
                      <h5>{{i.usuario.nomeCompleto}}</h5>
                      <br>
                      <p class="card-text"><small class="text-muted">{{i.date | date: 'dd/MM/yyyy'}} às
                        {{i.date | date: 'HH:mm'}}</small></p>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <h5 class="card-title">{{i.tituloPostagem}}</h5>
                  <p class="card-text">
                    {{i.descricaoPostagem}}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 mt-4">
          <div class="jumbotron">
            <div class="row d-flex">
              <div class="col-md-3 mr-2">
                <img src="{{grupo.foto}}" alt="Imagem do grupo" width="100px" height="100px"
                class="rounded-circle">
              </div>
              <div class="col-md-9">
                <h4> {{grupo.tema}}</h4>
              </div>
            </div>
              <hr>
              <p>{{qtdMembros}} membros</p>
            <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
              <div class="btn-group">
                <button type="button" class="btn bg-pink btn-lg w-100 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Participantes
                </button>
                <div class="dropdown-menu dropdown-menu-right w-100">
                  <p class="text-center">Lista de Participantes<i class="fa fa-users fa-2x" aria-hidden="true"></i></p>
                  <hr>
                  <div class="row" *ngFor='let i of grupo.listaParticipantes'>

                    <div class="col-md-12">
                      <p class="dropdown-item" type="button">{{i.nomeCompleto}}</p>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <div class="col-md-12 mt-3">
              <div class="col-md-12 mt-3 d-flex justify-content-end">
                <button class="btn btn-outline-warning mr-3" *ngIf="verificarUser()" [routerLink]="['/grupo-edit', grupo.idGrupo]">Editar</button>
              </div>
            </div>
            </div>
          </div>
          <div class="col-md-12 d-flex justify-content-end">
            <button class="btn bg-w-yellow btn-lg w-75 "(click)='sairGrupo(grupo)'>Sair <i
              class="fas fa-sign-out-alt"></i></button>
          </div>
        </div>

    </div>


</div>


