<hr>
<footer class="page-footer font-small pt-3 bg-pink">

    <div class="container">

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-dark">Confira nosso projeto no GitHub:</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">

                <ul class="social-network">
                <li>
                    <a href="https://github.com/ArcangeloAR/ProjetoIntegrador" target="_blank" class="icoGithub">
                        <i class="fa fa-github pb-0" aria-hidden="true"></i>
                    </a>
                </li> 
                </ul>

            </div>
        </div>
    </div>
    <div class="footer-copyright text-center py-3 bg-w-yellow">
        <span class="text-dark">© 2021 Copyright: </span>
        <a class="text-dark" target="_blank" href="https://brasil.generation.org/">Cafuné Materno</a>

    </div>  
</footer>