<div class="container mb-5 mt-5">
  <div class="row d-flex justify-content-center">
    <div class="col-md-4">
      <div class="col-md-1 mt-1 point">
        <p routerLink='/feed'> <i class="fa fa-arrow-left point" aria-hidden="true" routerLink='/feed'></i> Voltar</p>
      </div>
        <h4 class="text-center text-secondary">Edite sua postagem:</h4>
    </div>
</div>
    <div class="row d-flex justify-content-center mt-4">
        <div class="col-md-4 mt-3">
          <table class="table table-borderless bg-white container">
            <div class="form-group d-flex justify-content-start mt-3 ml-3">
                <div class="row">
                  <div class="col-md-2"><i class="fas fa-pencil-alt"></i></div>
                  <div class="col-md-10">
                    <input [(ngModel)] = 'postagens.tituloPostagem' type="text" class="form-control bg-cz inpsize" id="titulo"
                    placeholder="titulo da postagem">
                  </div>
                </div>
              </div>

              <div class="form-group d-flex justify-content-start mt-3 ml-3">
                <div class="row">
                  <div class="col-md-2"><i class="fas fa-pencil-alt"></i></div>
                  <div class="col-md-10">
                    <input [(ngModel)] = 'postagens.descricaoPostagem' type="text" class="form-control bg-cz inpsize" id="publicacao"
                    placeholder="O que esta pensando?">
                  </div>
                </div>
              </div>
            <div class="form-group d-flex justify-content-start mt-3">
                <div class="row">
                  <div class="col-md-2"><a class="fas fa-camera-retro ml-3 mr-5 text-dark"></a></div>
                  <div class="col-md-10">
                    <input [(ngModel)] = 'postagens.urlAnexo' type="email" class="form-control bg-cz inpsize" id="publicacao"
                    placeholder="Coloque aqui uma Imagem">
                  </div>
                </div>
              </div>
              <div class="row mt-5 mr-1 mb-2">
                <div class="col-md-12 d-flex justify-content-end">
                  <button class="btn bg-pink input-group-append mr-2" (click)='atualizar()'>Editar</button>
                    <button class="btn bg-w-yellow" [routerLink]="['/minhas-postagens', idUser]">Cancelar</button>
                </div>
              </div>
            </table>
        </div>
    </div>
</div>
