<div class="container-fluid">

    <div class="row bg-w-purple">
      <div class="col-md-12 text-white">
        <div class="row d-flex justify-content-center mt-4 mb-5">
          <div class="col-md-4">
            <div class="form-group d-flex align-items-center">
              <input type="text" class="form-control" id="descricao" placeholder="Digite o que você deseja buscar">
              <span class="input-group-addon">
                <button class="ml-1 fa fa-search" style="background:transparent;border:none"></button>
              </span>
            </div>
          </div>
        </div>

      </div>

      <div class="container d-flex justify-content-center">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active text-white bb-1" id="feed" data-toggle="pill" href="#pills-feed" role="tab"
              aria-controls="pills-feed" aria-selected="true" routerLink="/grupos">Feed</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white bb-1 ml-2" id="grupos" data-toggle="pill" href="#pills-grupos" role="tab"
              aria-controls="pills-grupos" aria-selected="false" routerLink="/grupos">Grupos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white bb-1 ml-2" id="doacoes" data-toggle="pill" href="#pills-doacoes" role="tab"
              aria-controls="pills-doacoes" aria-selected="false" routerLink="/doacoes">Doações</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white bb-1 ml-2" id="delegacia" data-toggle="pill" href="#pills-delegacia" role="tab"
              aria-controls="pills-delegacia" aria-selected="false">Delegacia da Mulher</a>
          </li>
        </ul>
    </div>
    <div class="container-fluid">
      <div class="row posicaoNav">
        <div class="col-md-12 bg-w-yellow">
          <p></p>
        </div>
      </div>
    </div>
  </div>

  <div class="container mt-4 mb-3">
      <div>
      <div class="row d-flex justify-content-center">
        <div class="col-md-3">
            <div class="card mt-3" style="width: 18rem;">
                <div class="card-body text-center">
                  Um espaço de solidariedade e sororidade
                </div>
              </div>
        </div>
      </div>
    </div>

    <div>
        <div class="row d-flex justify-content-center mt-4">
            <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <p class="card-text text-center font-weight-bold">Leite Materno</p>
                      </div>
                    <img class="card-img-top" src="https://i.imgur.com/ktWlP02.png" alt="Imagem de capa do card">
                    <div class="d-flex justify-content-center">
                      <a class="btn bg-purple text-light w-75 mt-2 mb-4" href="https://www.google.com/" role="button">Saiba Mais</a>
                    </div>
                  </div>
            </div>
            <div class="col-md-3 mr-4 ml-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <p class="card-text text-center font-weight-bold">Higiene Menstrual</p>
                      </div>
                    <img class="card-img-top" src="https://i.imgur.com/k9St2VY.png" alt="Imagem de capa do card">
                    <div class="d-flex justify-content-center">
                      <a class="btn bg-purple text-light w-75 mt-2 mb-4" href="https://www.google.com/" role="button">Saiba Mais</a>  
                    </div>
                  </div>
            </div>
            <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <p class="card-text text-center font-weight-bold">Roupas e Brinquedos</p>
                      </div>
                    <img class="card-img-top" src="https://i.imgur.com/JS8tewl.png" alt="Imagem de capa do card">
                    <div class="d-flex justify-content-center">
                      <a class="btn bg-purple text-light w-75 mt-2 mb-4" href="https://www.google.com/" role="button">Saiba Mais</a>
                    </div>
                  </div>
            </div>
        </div>
    </div>
  </div>
