<nav class="navbar navbar-expand-lg navbar-warning bg-warning">
    <a class="navbar-brand font-weight-bold text-white" href="#">Cafuné Materno</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link font-weight-bold text-white" href="#">Home <span class="sr-only">(página atual)</span></a>
        </li>

        
      </ul>
      <ul class="navbar-nav ml-auto d-flex align-items-center">
        <li class="nav-item pl-3">
            <a class="m-0 font-weight-bold text-white fs-16">Entrar</a>
          </li>
      </ul>
      
    </div>
  </nav>
