<div class="bg-image">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="https://i.imgur.com/tSR5f8A.png" alt="Primeiro Slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="https://i.imgur.com/HfaIh8O.jpg" alt="Segundo Slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="https://i.imgur.com/l2qKcHd.jpg" alt="Terceiro Slide">


            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="https://i.imgur.com/lQp4be7.jpg" alt="Quarto Slide">

            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="https://i.imgur.com/lQp4be7.jpg" alt="Quarto Slide">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Próximo</span>
        </a>
    </div>
    <div class="jumbotron jumbotron-fluid bg-w-pink">
        <div class="container d-flex justify-content-center align-items-center ">
            <div class="row">
                <div class="col-md-6">
                    <h2 class="display-4 mb-3">Cafuné Materno</h2>
                    <ul>
                        <h5><i class="fa fa-heart"></i> Divida seu amor!</h5>
                        <h5><i class="fa fa-heart"></i> Compartilhe experiências!</h5>
                        <h5><i class="fa fa-heart"></i> Conheça e converse com mães como você!</h5>
                        <h5><i class="fa fa-heart"></i> Descubra novas informações!</h5>
                        <h5><i class="fa fa-heart"></i> Amplie seu networking e oportunidades!</h5>
                    </ul>
                </div>
                <div class="col-md-6">
                    <img src="https://i.imgur.com/a9zkVcI.png" alt="Poema" class="mr-3 w-75">
                </div>
            </div>
        </div>
    </div>
    <div class="container bg-white">
        <p>
            Herberto Helder
            Nos trechos selecionados do poema de Herberto Helder há a reflexão sobre o entrecruzamento das histórias até
            tornar-se um só ser unificado pelo amor.

            “As mães são as mais altas coisas
            que os filhos criam, porque se colocam
            na combustão dos filhos, porque
            os filhos estão como invasores dentes-de-leão
            no terreno das mães.
            […]
            E através da mãe o filho pensa
            que nenhuma morte é possível e as águas
            estão ligadas entre si
            […]
            E por dentro do amor, até somente ser possível
            amar tudo,
            e ser possível tudo ser reencontrado por dentro do amor.”
        </p>

    </div>