.bg-gold {
    background-color: gold;
}

.bg-purple {
    background-color: rgb(180, 65, 242);
}

.bg-w-purple {
    background-color: #BF99E8
}

.bg-w-yellow {
    background-color: rgb(255, 226, 153)
}

.bg-pink {
    background-color: rgb(254, 168, 243);
}

.bg-w-pink {
    background-color: #E8D8FF;
}

.bg-white {
    background-color: white;
}

.bg-image {
    background-image: url(https://i.imgur.com/cRTWeoI.png);
}



.logo-size{
    width: 50px;
    height: 50px;
}