<div class="container mt-5">
  <div class="col-md-12">
    <div class="col-md-1 mt-1 point">
      <p routerLink='/feed'> <i class="fa fa-arrow-left point" aria-hidden="true" routerLink='/feed'></i> Voltar</p>
    </div>
    <h1 class="text-center"> Editar Grupos</h1>
    <div class="form-group">
      <input [(ngModel)]='grupo.nomeGrupo' type="text" class="form-control"
        placeholder="Digite o nome do grupo:" (keydown.enter)='updateGrupo()'>
      </div>
    <div class="form-group">
      <input [(ngModel)]='grupo.tema' type="text" class="form-control"
        placeholder="Digite a descrição do tema do grupo:" (keydown.enter)='updateGrupo()'>
      </div>
      <div class="form-group">
        <input [(ngModel)]='grupo.foto' type="text" class="form-control" id="grupo.foto"
          placeholder="Link da foto do grupo:" (keydown.enter)='updateGrupo()'> 
      </div>
      <div class="col-md-12 d-flex justify-content-end">
        <button class="btn btn-outline-success mr-3" (click)='updateGrupo()' >Editar</button>
        <button class="btn btn-outline-info mr-3" [routerLink]="['/pagina-grupo',grupo.idGrupo]">Cancelar</button>
      </div>
  </div>
  <div class="col-md-12">

  </div>
</div>
